<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Special Admin</title>
    <link rel="icon" href="{% static "special_admin/logo.png" %}" />
    <style>
        body {
            font-family: 'VT323', monospace;
            font-size: 20px;
            background-size: cover;
            background-image: url("http://wallpapercave.com/wp/4SSFz3R.png");
        }

        .navbar {
            background-color: rgba(4, 0, 0, 0.85);
        }

        .navbar a {
            color: #ffffff;
        }

        .navbar a:hover {
            color: darkgreen;
        }
    </style>
    {% block specific_css %}{% endblock %}
</head>
<body>

{# navbar #}
{% block navbar %}
    <nav class="navbar" style="border:0;border-radius:0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:home' %}"><big>Feed'er</big></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'instructor_login:login' %}">Instructor</a></li>
                <li><a href="{% url 'special_admin:home' %}">Special Admin</a></li>
{#                <li><a href="{% url 'special_admin:tasks_redirect' %}">Tasks</a></li>#}
{#                <li><a href="{% url 'special_admin:fb_forms_redirect' %}">Feedback</a></li>#}
            </ul>
        </div>
    </nav>
{% endblock %}

<div id="message" style="display:none;position: fixed;top: 700px;left: 50px;font-size: 50px">
    <script>
        function message_popup(message) {
            $('#message').text('{{ message }}').fadeIn(0).delay(3000).fadeOut(0);
        }

        $(document).ready(function () {
            message_popup();
        });
    </script>
</div>

{% block message %}

{% endblock %}

{# body block #}
{% block body %}

{% endblock %}

</body>
</html>
