{% extends 'special_admin/base.html' %}
{% block body %}
    <div class='container-fluid'>

        <h1 style="text-align: center;margin: 0;font-size: 50px">New to class..</h1>
        <hr>
        <div class='col-xs-2'>
            <form method='post' action='{% url 'special_admin:new_student' %}' id="create_student_form">
                {% csrf_token %}
                <br>
                <input style='width: 100%' type='text' name='student_name' value='' placeholder='name'><br><br>
                <input style='width: 100%' type='email' name='student_user_name' value=''
                       placeholder='user name'><br><br>
                <input type="hidden" value="" id="courses_input" name="courses">
                <input id="validate" type='button' name='create_student' value='Create' class='btn-success'>
            </form>
            <script type="text/javascript">
                var signed_courses = [];
                var signed_class_name = 'signed';
                var no_signed = {{ 0 }};
                var no_available = {{ all_courses|length }};

                function update_totals() {
                    $('#no_courses_available').text(no_available);
                    $('#no_courses_signed').text(no_signed);
                }

                $(document).ready(function () {
                    $('#validate').click(function () {
                        signed_courses = [];
                        $('#courses_signed').find('.' + signed_class_name).each(function () {
                            signed_courses.push($(this).attr('id'));
                        });
                        $('#courses_input').val(signed_courses.join(","));
                        $('#create_student_form').submit();
                    });
                });
            </script>
        </div>
        {#      Courses enrollment script      #}
        <script type="text/javascript">
            $(document).ready(function () {
                update_totals();

                $('#courses_signed').find('.course').click(function () {
                    $(this).fadeOut(0).removeClass(signed_class_name);
                    $('#courses_available').find('#' + $(this).attr('id')).fadeIn(0);
                    no_available++;
                    no_signed--;
                    update_totals();
                });
                $('#courses_available').find('.course').click(function () {
                    $(this).fadeOut(0);
                    $('#courses_signed').find('#' + $(this).attr('id')).fadeIn(0).addClass(signed_class_name);
                    no_available--;
                    no_signed++;
                    update_totals();
                });
            });
        </script>
        <div class='col-xs-5'>
            <blockquote><span id='no_courses_signed'></span> courses registered</blockquote>
            <table id='courses_signed' class='table table-hover table-striped' style='overflow: scroll'>
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 80%;">
                </colgroup>
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for course in all_courses %}
                    <tr id='{{ course.pk }}' class='course' style="display: none">
                        <td>
                            <a href='#' class='code'>
                                {{ course.code }}
                            </a>
                        </td>
                        <td>
                            <a href='#' class='name'>
                                {{ course.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-xs-5'>
            <blockquote><span id='no_courses_available'></span> courses available
            </blockquote>
            <table id='courses_available' class='table table-hover table-striped' style='overflow: scroll'>
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 80%;">
                </colgroup>
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for course in all_courses %}
                    <tr id='{{ course.pk }}' class='course'>
                        <td>
                            <a href='#' class='code'>
                                {{ course.code }}
                            </a>
                        </td>
                        <td>
                            <a href='#' class='name'>
                                {{ course.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}