    {% extends 'instructor_login/base.html' %}
    {% block navbar %}
    {% endblock %}
    {% block body %}
    {% if user and not user.is_anonymous %}
    {% csrf_token %}
    <a>You are already logged in as {{ user.get_full_name|default:user.username }}!</a>
    <h3><a href="{% url 'auth:logout' %}?next={% url 'instructor_login:login' %}">Click here to logout</a></h3>
    <h3><a href="{% url 'instructor_login:loggedin' %}">Click here to contiunue as same user</a></h3>

   {% else %}

    <div class="container">
        <div class="row" style="text-align: center;font-size: 50px;font-weight: 900">Instructor Login</div>
        <div class="row" style="height: 100px"></div>
        <form action="{% url 'instructor_login:auth_view' %}" method="post" id="form">
            {% csrf_token %}
        <div class="row" style=" font-size: 30px;" >
             <div class="col-xs-2"></div>
            <div class="col-xs-3">
                <label style="font-size: 40px;">UserName</label>
            </div>
            <div class="col-xs-4"  >
                <input type="text" name="username" id="username" placeholder="username" value="">
            </div>
            <div class="col-xs-3 fbk" ><label id="usernameFeedback"></label></div>

        </div>
            <div class="row" style="height: 10px"></div>
        <br>
        <div class="row" style=" font-size: 30px;">
            <div class="col-xs-2"></div>
            <div class="col-xs-3">
                <label style="font-size: 40px;">Password</label>
            </div>
            <div class="col-xs-2">
                <input type="password" name="password" id="password" placeholder="password" value="">
            </div>

            <div class="col-xs-3 fbk"><label id="passwordFeedback"></label></div>

        </div>
        <br>

        <div class="row" style="font-size: 30px;">
            <div class="col-xs-4"></div>
            <div class="col-xs-4" style="text-align:center;">
                <input class="btn-success" type="submit" value="Login" >
            </div>
            <div class="col-xs-4"></div>

        </div>
        </form>

        <div class="row" style="height: 30px"></div>
       <div class="row">
           <div class="col-xs-1"></div>
        <div class="col-xs-4" style="float:left;font-size: 30px;"><a href="{% url 'social:begin' 'facebook' %}?next={% url 'instructor_login:loggedin' %}"><button class="btn-primary" style="font-size:30px">SignIn with Facebook  <i class="fa fa-facebook-square"></i></button></a></div>
         <div class="col-xs-2"></div>
           <div class="col-xs-4"  style="float:right;font-size: 30px;"> <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'instructor_login:loggedin' %}"><button class="btn-danger" style="font-size:30px">SignIn with Google  <i class="fa fa-google"></i></button></a></div>
       <div class="col-xs-1"></div>
       </div>
        <div class="row" style="height: 30px"></div>
         <div class="row" style="text-align: center;font-size: 40px;">Not Yet Signed?? Click <a href = "{% url 'instructor_login:register' %}" >here</a>
             to register</div>
        <div class="row" style="height: 30px"></div>
        <div class="row" style="text-align: center;font-size: 40px;"><a href="{% url 'home:home' %}">Homepage</a></div>


    </div>
    {% endif %}
    {% endblock %}


