<body>
<h1>Registration Failed</h1>
{% if form.errors %}
	<!-- Error messaging -->
	<div id="errors" style="font-size:30px">
		<div class="inner" >
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
        <a href = "{% url 'instructor_login:register' %}">Click here to register again</a>
	</div>
	<!-- /Error messaging -->
{% endif %}



</body>
