{% extends 'instructor_login/base.html' %}
{% block body %}
    {% if user and not user.is_anonymous %}
    <div class='container-fluid'>

        <h1 style='text-align: center;margin: 0;font-size: 50px'>New Task for {{ course.name }}</h1>
        <hr>

        <div class='col-xs-2'></div>
        <div class='col-xs-8'>
            <form method='post' action='{% url 'instructor_login:new_task' course.pk %}' id='create_task_form'>
                {% csrf_token %}
                <br>
                <input style='width: 100%' type='text' id='task_tag' name='task_tag' value=''  placeholder='Short description'><br>
                <h3>DeadLine</h3>
                <span style="font-size: x-large">Date : </span> <input style='width: 30%' type='date' name='task_deadline_date'>
                <span style="font-size: x-large">Time : 24hrs</span> <input style='width: 30%' type='time' name='task_deadline_time'><br><br>
                <textarea style='width: 100%' name='task_detail' placeholder='Specifics' rows='6'></textarea><br><br>
                <input id='validate' type='button' name='create_task' value='Create' class='btn-success'>
            </form>
            <script>
                $(document).ready(function () {
                    $('#validate').click(function () {
                        {#     Validate the form here    #}
                        if($('#task_tag').val() == ""){
                            alert('Empty Task Tag!');
                            return;
                        }
                        $('#create_task_form').submit();
                    });
                });
            </script>
        </div>
        <div class='col-xs-2'></div>
    </div>
{% else %}
<h2>Invalid Access!!!</h2>
<h2>You need to login as a user before accessing this page</h2>
<h2><a href = "{% url 'instructor_login:login' %}">Click Here to login</a></h2>
{% endif %}
{% endblock %}