{% extends 'home/base.html' %}
{% block body %}
    <div id="greeting1" style="text-align: center;font-size: 500%;display: none">
        Hello
    </div>
    <div id="greeting2" class="container-fluid" style="text-align: center;font-size: 500%;display: none">
        This is Feed'er 36
    </div>
    <script>
        $(document).ready(function () {
            $('#greeting1').slideDown(1000).delay(1000, function () {
                $('#greeting2').slideDown(1000);
            });
        });
    </script>
{% endblock %}