{% extends 'special_admin/base.html' %}
{% block navbar %}{% endblock %}
{% block body %}
    <div class="container-fluid row">
        <h1 style="text-align: center;font-size: 80px">Feed'er36 Special Admin</h1>
        <div class="col-xs-4"></div>
        <div class="col-xs-4" style="position: fixed;top: 33%;left: 35%;margin: 0">
            <h1>Login</h1>
            <form method="post" action="{% url 'special_admin:home' %}">
                {% csrf_token %}
                {% if email_incorrect %}
                    <div class="text-danger">Email is incorrect</div>
                {% endif %}
                {% if password_incorrect %}
                    <div class="text-danger">Password is incorrect</div>
                {% endif %}
                <div class="row">
                    <span class="col-xs-5">
                        <input type="email" name="special_admin_email" placeholder="Email ID" style="width: 100%">
                    </span>
                    <span class="col-xs-5">
                        <input type="password" name="special_admin_password" placeholder="Password" style="width: 100%">
                    </span>
                    <span class="col-xs-2">
                        <input type="submit" value="Go" class="btn-default">
                    </span>
                </div>
            </form>
        </div>
        <div class="col-xs-4"></div>
    </div>
{% endblock %}

