{% extends 'instructor_login/base.html' %}
{% block body %}
    <div class="container-fluid">
        {% if user and not user.is_anonymous %}
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4" style="text-align: center;font-size: 90px;">
                    <span id="greeting">Hello {{ user.get_full_name|default:user.username }}!</span>
                </div>
                <div class="col-xs-4"></div>
            </div>
        {% else %}
            <h2>Invalid Access!!!</h2>
            <h2>You need to login as a user before accessing this page</h2>
            <h2><a href="{% url 'instructor_login:login' %}">Click Here to login</a></h2>
        {% endif %}
    </div>
{% endblock %}









