{% extends 'special_admin/base.html' %}
{% block body %}
    {% if message %}
        <div id="message" style="position: fixed;top: 200px;left: 50px;font-size: 50px">
            {{ message }}
            <script>
                $(document).ready(function () {
                    $('#message').delay(3000).fadeOut();
                });
            </script>
        </div>
    {% endif %}
    <div class='container-fluid'>
        <h1 style='text-align: center;margin: 0;font-size: 50px'>{{ task.tag }} for {{ course.name }}</h1>
        <hr>

        <div class='col-xs-2'></div>
        <div class='col-xs-8'>
            <form method="post" action="{% url 'special_admin:old_task' task.pk %}" class="form-horizontal">
                {% csrf_token %}
                <input type="submit" name="delete_course" value="Delete" class="btn-danger">
            </form>
            <form method='post' action='{% url 'special_admin:old_task' task.pk %}' id='update_task_form'>
                {% csrf_token %}
                <br>
                <input style='width: 100%' type='text' name='task_tag' value='{{ task.tag }}'
                       placeholder='Short description'><br>
                <h3>Deadline</h3>
                <span style="font-size: x-large">Date : </span><input style='width: 30%' id='task_deadline_date'
                                                                      type='date'
                                                                      value='{{ year }}-{{ month }}-{{ day }}'
                                                                      name='task_deadline_date'>
                <span style="font-size: x-large">Time : 24hrs</span> <input style='width: 30%' id='task_deadline_time'
                                                                            type='time' name='task_deadline_time'
                                                                            value='{{ hour }}:{{ minute }}'><br><br>
                <textarea style='width: 100%' name='task_detail' placeholder='Specifics'
                          rows='6'>{{ task.detail }}</textarea><br><br>
                <input id='validate' type='button' name='create_task' value='Create' class='btn-success'>
            </form>
            <script>
                $(document).ready(function () {
                    $('#validate').click(function () {
                        {#     Validate the form here    #}
                        $('#update_task_form').submit();
                    });
                });
            </script>
        </div>
        <div class='col-xs-2'></div>
    </div>
{% endblock %}